.Chat-main {
  width: calc(100vw - 300px);
  .main-header {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group{
      .groupName {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
        }
        .memberList {
          color: #999999;
          display: flex;
          font-size: 12px;
          margin-top: 15px;
        } 
      }
    .edit-btn {
      display: block;
      border: 1px solid #38AEF0;
      color: #38AEF0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
    }
  }
  .messages {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
  }
  .Footer {
    height: 90px;
    padding: 20px 50px 20px 40px;
    background-color: #dddddd;
    box-sizing: border-box;
    
    form {
      display: flex;
      justify-content: space-between;
      .input-box {
        width: 100%;
        background-color: #ffffff;
        position: relative;
        &__text {
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 45px 0 15px;
        }
        &__image {
          height: 50px;
          position: absolute;
          right: 10px;
          .fa-image {
            line-height: 50px;
            font-size: 25px;
          }

          .boxFile {
          display: none;
          }
        }
      }
      .submit-btn {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }

}  